In [2]:
import pandas as pd
import numpy as np

In [3]:
dir = 'c:/_dados/_avito/'

In [4]:
def submit(df,name):
    df = df[df['source'] == 'test'][['item_id', 'deal_est']]
    df = df.rename({'deal_est': 'deal_probability'}, axis='columns')
    df['deal_probability'] = df['deal_probability'].clip(0,1)
    display(df.head())
    display(df.shape)
    df.to_csv(dir + 'submissions/' + str(name) + '.csv', index=False )

In [5]:
df = pd.read_pickle(dir + 'df2.pickle')
df.head()

,activation_date,category_name,city,deal_probability,deal_rounded,description,image_top_1,item_id,month,param_1,...,sold_0,sold_1,sold_2,sold_3,sold_4,sold_5,sold_6,sold_7,sold_8,sold_9
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,0.12789,0.2,"Кокон для сна малыша,пользовались меньше месяц...",1008.0,b912c3c6a6ad,3,Постельные принадлежности,...,0,0,0,0,0,0,1,0,0,0
1,2017-03-26,Мебель и интерьер,Самара,0.00000,0.0,"Стойка для одежды, под вешалки. С бутика.",692.0,2dac0150717d,3,Другое,...,0,0,0,0,0,0,0,0,0,0
2,2017-03-20,Аудио и видео,Ростов-на-Дону,0.43177,0.4,"В хорошем состоянии, домашний кинотеатр с blu ...",3032.0,ba83aefab5dc,3,"Видео, DVD и Blu-ray плееры",...,0,0,0,0,0,0,1,0,1,1
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,0.80323,0.8,Продам кресло от0-25кг,796.0,02996f1dd2ea,3,Автомобильные кресла,...,1,1,1,1,1,1,0,0,1,1
4,2017-03-16,Автомобили,Волгоград,0.20797,0.2,Все вопросы по телефону.,2264.0,7c90be56d2ab,3,С пробегом,...,0,0,0,0,0,1,0,0,0,0

In [6]:
df['deal_est'] = 0.2
submit(df,'teste')

              item_id  deal_probability
1503424  6544e41a8817               0.2
1503425  65b9484d670f               0.2
1503426  8bab230b2ecd               0.2
1503427  8e348601fefc               0.2
1503428  8bd2fe400b89               0.2

(508438, 2)